{% extends "index.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="max-w-md mx-auto bg-white rounded-lg shadow-md p-6 mt-10 md:mt-20 mb-10 md:mb-20 text-center md:text-left md:space-y-4 md:p-10 md:max-w-lg md:mx-auto md:shadow-lg md:rounded-xl md:bg-gradient-to-r md:from-blue-50 md:via-white md:to-blue-50">   
    <h2 class="text-2xl font-semibold mb-6">Login</h2>
    <form method="POST" class="space-y-4">

        <div>
            <label for="username" class="block text-gray-700 mb-2">Username</label>
            <input type="text" name="username" id="username" required 
                   class="w-full px-4 py-2 border rounded focus:outline-none focus:border-blue-500">
        </div>
        <div>
            <label for="password" class="block text-gray-700 mb-2">Password</label>
            <input type="password" name="password" id="password" required 
                   class="w-full px-4 py-2 border rounded focus:outline-none focus:border-blue-500">
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
            Login
        </button>
    </form>
    <p class="mt-4 text-center text-gray-600">
        Don't have an account? <a href="{{ url_for('auth.register') }}" class="text-blue-500 hover:underline">Register</a>
    </p>
</div>
{% endblock %}